/* Styling for body that prevents scroll animation */
body {
    margin: 0 auto;
    height: 100%; 
    overflow: hidden;
}

/* Styling for Heading */
h1 {
    color: #121212;
    text-align: center;
}

/* Stying for image tag */
.img img{
    display: block; 
    width: 380px;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid #121212;
}

/* Styling for Image Description */
p {
    text-align: center;
    font-style: italic; 
    display: block;
    width: 380px;
    margin-left: auto;
    margin-right: auto;
}

/* Styling for input and button */
.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Styling for Email Input */
.email {
    color: gray;
    background-color: white;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    padding: 10px 11px;
    margin-top: 8px;
    border: 3px solid #121212;
}

/* Styling for individual button */
.btn {
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    width: 200px;
    padding: 10px 0;
    margin-top: 8px;
    cursor: pointer;
    color: white;
    background-color: #121212;
}


/* Styling for footer (Termas of service) */
.footer{
    margin-bottom: 20px;
    font-size: 14px;  
    font-style: italic; 
}

.footer a{
    color: #121212;
}

