/* Importing Font */
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family: "Kanit", sans-serif;
    height: 100vh;
    width: 100vw;
    background-color: black;
    margin: 0rem;
    overflow: hidden;
    color: white;
}

h1 {
    user-select: none;
    text-align: center;
    font-size: 5rem;
}
#image-track > .image {
    width: 40vmin;
    height: 56vmin;
    object-fit: cover;
    /* This line is important to understanding the special image effect */
    object-position: center; 
    user-select: none; /* -- Prevent image highlighting -- */
    transition: 0.3s;
}

#image-track{
    display: flex;
    gap: 4vmin;
    position: absolute; left: 50%; top: 50%; transform: translate(0%, -50%);
}

img:hover {
    cursor: pointer;
    transform: scale(1.1);
}